/* GERAL*/
* {
    box-sizing: border-box;
}


body{
    color:grey;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


form {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


input[submit]{
    text-decoration:none;
    border:none;
}

.input-button{
    background-color: #5d4477;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

p {
    line-height: 0px;
    margin: 15px;
}

.col-de-1 {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: top;
    margin: 10px 3px;
}

.col-de-2 {
    display: inline-block;
    width: 49%; 
    text-align: left;
    vertical-align: top;
    margin: 10px 3px;
}